
@media screen and (max-width:1400px){
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    
    .about-containers, .about-details-container{
        width: 650pxt;
    }
    
}
@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display:flex
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .arrow{
        display: none;
    }

    section, .section-container{
        height: fit-content;
    }
    
    
    section{
        margin: 0 2rem;
    }
    
    .about-containers, .about-details-container{
        width: fit-content;
    }



    .about-containers{
        margin: 0;
    }

   

    #profile .section_pic-contanier {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem; 
    }
    .section_pic-contanier {
        margin-bottom: 3rem;
        text-align: center;
    }
     
    
}

@media screen and (max-width:600px){

    .about-containers, .about-details-container{
        width: fit-content;
    }

   
    section{
        margin: 0 5%;

    }
    #contact,
    footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    
    .contact-info-container{
        margin:0;
    }
    
    .contain-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size: 1.25rem;

    }

    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap:0.5rem;
        text-align:center;
    }
    .section_pic-container{
        width:auto;
        height: 46vw;
        justify-content: center;
    }

    .section_text__p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: center;
    }

    .text-container p {
        justify-content: center;
        text-align: center; 
        
    }
    section, .section-container{
        height: fit-content;
    }

    #profile {
        margin-bottom: 20px; /* 設定 #profile 底邊距 */
    }
    
    #about {
        margin-top: 15rem; /* 設定 #about 上邊距 */
    }


    

}


